* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font: 14px "Roboto", sans-serif;
  background-color: #ffffff;
  color: rgb(33, 33, 33);
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

input,
button {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

button {
  cursor: pointer;
}

.fade {
  opacity: 1 !important;
  animation: fade 2s ease-out;
}

.one,
.two,
.three {
  background-color: #fed516;
  width: 100%;
  height: 4px;
  margin: 7px auto;
  transition: all 0.2s ease;
}

.clip {
  clip-path: none !important;
}

.top {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #fed516;
  padding: 12px 15px 15px;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transform: scale(0);
  transition: all 0.2s ease;
}

.top img {
  margin-bottom: 10px;
}

.show {
  transform: scale(1);
}

/* #-#-#-#-#-#-#-#-#-#-#-# START: HOME #-#-#-#-#-#-#-#-#-#-#-# */

#home {
  background-image: url("../images/wallpaper.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 50% 98%, 0 80%);
  height: 100%;
}

#home .wrapper {
  height: calc(100% - 300px);
  max-width: 1500px;
  padding: 0 50px;
  margin: auto;
}

#home .wrapper header {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
}

#home .wrapper header .menu-section {
  width: 100%;
  max-width: 1600px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home .wrapper header .menu-section img {
  height: 100px;
}

#home .wrapper header .menu-section .menu-m .menu-toggle {
  width: 35px;
  height: 30px;
  display: none;
}

#home .wrapper header .menu-section .menu-m ul {
  display: flex;
  list-style: none;
}

#home .wrapper header .menu-section .menu-m ul li {
  padding: 0 25px;
}

#home .wrapper header .menu-section .menu-m ul li a {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

#home header .menu-section .menu-m ul li a::after {
  content: "";
  width: 0%;
  position: absolute;
  display: block;
  height: 4px;
  background-color: #fed516;
  right: 0;
  bottom: -5px;
  border-radius: 2px;
  transition: all 0.2s;
}

#home header .menu-section .menu-m ul li a:hover::after,
.active::after {
  width: 50% !important;
}

#home .wrapper .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

#home .wrapper .container .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home .wrapper .container .content div {
  position: relative;
  display: flex;
  width: 725px;
  justify-content: flex-start;
}

#home .wrapper .container .content div h1 {
  color: #ffffff;
  display: block;
  width: 565px;
}

#home .wrapper .container .content div h1::after {
  content: "|";
  color: "#ffffff";
  animation: blink 0.5s linear infinite;
}

#home .wrapper .container .content div img {
  color: #ffffff;
  height: 150px;
  width: 100px;
  transform: rotateZ(15deg);
  opacity: 0;
}

#home .wrapper .container .content div #text {
  font-size: 3.3em;
}

#home .wrapper .container .content div::after {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 16px;
  bottom: 0;
  border-radius: 8px;
  margin-top: 10px;
  background-color: #fed516;
}

#home .wrapper .container .content img {
  width: 600px;
}

/* #-#-#-#-#-#-#-#-#-#-#-# END: HOME #-#-#-#-#-#-#-#-#-#-#-# */

/* #-#-#-#-#-#-#-#-#-#-#-# START: ABOUT #-#-#-#-#-#-#-#-#-#-#-# */

#about {
  background-color: #212121;
  width: 100%;
}

#about .container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 100px 0 200px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 90%, 0 100%);
}

#about .container .content {
  max-width: 1500px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}

#about .container .content div {
  height: 100%;
}

#about .container .content img {
  margin-left: 100px;
}

#about .container .content div h1 {
  color: #fed516;
  font-size: 80pt;
  font-weight: bold;
}

#about .container .content div h2 {
  color: #212121;
  font-size: 80pt;
  font-weight: 400;
  margin-bottom: -30px;
}

#about .container .content h2::before {
  content: "";
  display: block;
  width: 100px;
  height: 20px;
  bottom: 0;
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: #fed516;
}

#about .container .content div p {
  margin-top: 80px;
  font-size: 22pt;
  font-weight: 400;
  color: #212121;
}
/* #-#-#-#-#-#-#-#-#-#-#-# END: ABOUT #-#-#-#-#-#-#-#-#-#-#-# */

/* #-#-#-#-#-#-#-#-#-#-#-# START: SERVICES #-#-#-#-#-#-#-#-#-#-#-# */

#services {
  background-color: #ffffff;
  width: 100%;
}

#services .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  clip-path: polygon(0 0, 100% 0, 100% 91%, 70% 100%, 0 90%);
}

#services .container .content {
  width: 100%;
  max-width: 1500px;
  height: 100%;
  padding: 50px;
}

#services .container .content h1 i {
  color: #ffffff;
  font-size: 50pt;
  font-weight: 900;
}

#services .container .content h1 i::before {
  content: "";
  display: block;
  width: 100px;
  height: 20px;
  bottom: 0;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 50px;
  background-color: #fed516;
}

#services .container .content .items {
  margin: 100px 0 200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

#services .container .content .items .item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
}

#services .container .content .items .item::before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border: 4px solid transparent;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
}

#services .container .content .items .item::after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border: 4px solid transparent;
  top: 0;
  right: 0;
  box-sizing: border-box;
}

#services .container .content .items .item:hover::before {
  height: 100%;
  width: 100%;
  border: 4px solid #fed516;
  border-right: none;
  border-bottom: none;
  transition: height 0.3s ease-in-out, width 0.3s ease-in-out 0.3s;
}

#services .container .content .items .item:hover::after {
  height: 100%;
  width: 100%;
  border: 4px solid #fed516;
  border-left: none;
  border-top: none;
  transition: height 0.3s ease-in-out, width 0.3s ease-in-out 0.3s;
}

#services .container .content .items .item img {
  width: 100px;
}

#services .container .content .items .item span {
  margin-top: 20px;
  color: #ffffff;
  font-size: 16pt;
  font-weight: 700;
}

/* #-#-#-#-#-#-#-#-#-#-#-# END: SERVICES #-#-#-#-#-#-#-#-#-#-#-# */

/* #-#-#-#-#-#-#-#-#-#-#-# START: CONTACT #-#-#-#-#-#-#-#-#-#-#-# */

#contact {
  background-color: #212121;
  width: 100%;
}

#contact .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

#contact .container .content {
  width: 100%;
  max-width: 1500px;
  padding: 0 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact .container .content h1 {
  color: #212121;
  font-size: 50pt;
  font-weight: 900;
  margin: 100px 0;
}

#contact .container .content h1::before {
  content: "";
  display: block;
  width: 100px;
  height: 20px;
  bottom: 0;
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: #fed516;
}

#contact .container .content h1 span {
  color: #fed516;
}

#contact .container .content form {
  width: 100%;
  margin-bottom: 100px;
}

#contact .container .content form div {
  width: 100%;
  display: flex;
}

#contact .container .content form textarea {
  font-family: "Roboto", sans-serif;
  width: 100%;
  resize: none;
  margin: 50px 0;
  border: none;
  outline: none;
  border-bottom: 2px solid #212121;
  font-size: 16pt;
  padding: 0 20px;
}

#contact .container .content form button {
  font-family: "Roboto", sans-serif;
  width: 100%;
  border: 2px solid #212121;
  outline: none;
  margin-bottom: 50px;
  background: none;
  font-size: 16pt;
  padding: 20px 0;
  color: #212121;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s;
}

#contact .container .content form button:hover {
  background: #212121;
  color: #ffffff;
}

#contact .container .content form div input {
  width: 50%;
  margin: 20px 20px;
  border: none;
  outline: none;
  border-bottom: 2px solid #212121;
  height: 60px;
  font-size: 16pt;
}

/* #-#-#-#-#-#-#-#-#-#-#-# END: CONTACT #-#-#-#-#-#-#-#-#-#-#-# */

/* #-#-#-#-#-#-#-#-#-#-#-# START: FOOTER #-#-#-#-#-#-#-#-#-#-#-# */

footer {
  width: 100%;
  padding: 100px 0;
  background-color: #212121;
}

footer .wrapper {
  max-width: 1500px;
  padding: 0 50px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

footer .wrapper ul {
  display: flex;
  list-style: none;
}

footer .wrapper div {
  display: flex;
}

footer .wrapper ul li {
  padding: 0 15px;
  transition: all ease 0.2s;
}

footer .wrapper ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

footer .wrapper ul li:hover {
  transform: translateY(-5px);
}

footer .wrapper div a {
  padding: 0 10px;
  transition: all ease 0.2s;
}

footer .wrapper div a:hover {
  transform: translateY(-5px);
}

footer .wrapper div a img {
  width: 20px;
}

/* #-#-#-#-#-#-#-#-#-#-#-# END: FOOTER #-#-#-#-#-#-#-#-#-#-#-# */
